/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*VARIABLES*/
/*FUNCTIONS*/
/*KEYFRAMES*/
@keyframes slideDown {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes rotate_coche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes heart {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/*MIXINS*/
/*EXTENSIONS*/
/*BASE*/
* {
  font-family: "Roboto", sans-serif;
}

h1,
h4 {
  font-family: "Shrikhand", cursive;
}

main {
  margin-bottom: -20px;
  background-color: #f6f6f6;
}

section:not(.section__intro) {
  padding: 15px;
}

p, h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

img {
  width: 100%;
  object-fit: cover;
  height: 15em;
}

/*TYPOGRAPHY*/
body {
  margin: 0;
}

/*BUTTONS*/
button:hover {
  cursor: pointer;
}

.btn__gradient {
  font-size: 17px;
  margin: 1%;
  width: 50%;
  color: #fff;
  padding: 12px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-style: none;
  border-radius: 25px;
  box-shadow: 0px 3px 5px #c2c2c2;
}
.btn__gradient:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 4px 5px #8b8b8b;
}
.btn__fonctionnement {
  margin-left: 10px;
  text-align: left;
  font-weight: bold;
  width: 98%;
  background-color: #f6f6f6;
  margin-bottom: 15px;
  border-style: none;
  border-radius: 15px;
  box-shadow: 0px 2px 5px #c2c2c2;
  padding: 18px;
}
.btn__fonctionnement i {
  position: relative;
  left: -12px;
  color: #7e7e7e;
}
.btn__fonctionnement:hover {
  background-color: #f5edff;
}
.btn__fonctionnement:hover i {
  color: #9356DC;
}

.prix__plats {
  position: fixed;
  right: 10px;
  font-weight: bold;
  bottom: 15px;
}

.fa-heart {
  font-weight: 100;
  float: right;
}

.fa-arrow-left {
  position: absolute;
  font-size: 1rem;
  padding-left: 15px;
  padding-top: 13px;
}

.nbr__purple {
  position: relative;
  color: #fff;
  background-color: #9356DC;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 500px;
  left: -28px;
}

.notif-nouveau {
  position: absolute;
  right: 4%;
  top: 4%;
  padding: 7px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #217460;
}

.column div:not(.prix__plats):nth-child(2) {
  animation: slideDown 1s;
  animation-fill-mode: forwards;
}
.column div:not(.prix__plats):nth-child(3) {
  animation: slideDown 1s;
  animation-delay: 0.15s;
  animation-fill-mode: forwards;
}
.column div:not(.prix__plats):nth-child(4) {
  animation: slideDown 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
.column div:not(.prix__plats):nth-child(5) {
  animation: slideDown 1s;
  animation-delay: 0.45s;
  animation-fill-mode: forwards;
}

.loader {
  animation: loader 1s;
  animation-fill-mode: forwards;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -10%;
  padding-bottom: 10%;
  background-color: #e5c5f8;
}
.loader * {
  margin: 0;
}
.loader div {
  top: 50%;
  left: 50%;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #9356DC;
  border-color: #9356DC transparent #FF79DA transparent;
  animation: lds-hourglass 1.2s infinite;
}

.coche {
  width: 0px;
  position: fixed;
  background-color: #99E2D0;
  top: 0;
  height: 100%;
  right: 0;
  transition: width 1s;
}
.coche i {
  color: #fff;
  position: relative;
  top: 32%;
  left: 32%;
  font-size: 25px;
}

/*HEADER*/
header h1 {
  text-align: center;
}

#header__shadow {
  position: relative;
  padding-bottom: 0.1px;
  box-shadow: 0px 2px 2px #cacaca;
}

/*FOOTER*/
footer {
  margin-top: 20px;
  padding: 20px;
  color: #fff;
  background-color: #2f2f2f;
}
footer h4 {
  font-weight: normal;
}
footer a {
  padding: 4px;
  color: #fff;
  display: block;
  width: 100%;
  text-decoration: none;
}
footer .fa-utensils {
  padding-right: 7px;
  padding-left: 3px;
}
footer .fa-hands-helping {
  padding-right: 7px;
}
footer * {
  margin: 0;
}

/*NAV*/
a:not(.footer__a) {
  color: #000;
  text-decoration: none;
}

/*CONTAINER*/
figure {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 2px 5px #d4d4d4;
  margin-left: 0;
  margin-right: 0;
}
figure img {
  height: 10em;
}
figure figcaption {
  padding: 10px;
}
figure figcaption h3,
figure figcaption p {
  margin: 0;
  padding: 2px;
}

@media all and (max-width: 768px) {
  .section__intro {
    background-color: #f6f6f6;
    text-align: center;
    padding-bottom: 30px;
  }
  .section__intro p:not(.exception__p) {
    background-color: #eaeaea;
    padding: 15px;
    margin: 0;
  }
  .section__fonctionnement {
    background-color: #fff;
    display: block;
  }
  .section__restaurants {
    background-color: #f6f6f6;
  }
  .section__menu {
    position: relative;
    top: -20px;
    margin: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #f6f6f6;
  }
  .section__menu h3 {
    text-transform: uppercase;
    border-bottom: 3px solid #99E2D0;
    width: 50px;
    font-weight: lighter;
  }
  .section__menu .margin__menu {
    display: block;
    opacity: 0;
    overflow: hidden;
    padding: 15px;
    padding-right: 38px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #d1d1d1;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  .section__menu .margin__menu * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .section__menu h2 {
    font-family: "Shrikhand", cursive;
  }
  .section__menu h4 {
    font-family: "Roboto", sans-serif;
    text-align: initial;
  }
  .section__menu p {
    text-align: initial;
  }
  .section__menu button {
    margin-top: 25px;
  }

  h2 .heart {
    right: 15px;
  }

  .heart {
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    right: 11.5px;
    opacity: 0;
  }
  .heart:hover {
    animation: heart 1s;
    animation-fill-mode: forwards;
  }

  .btn__gradient-commande {
    height: min-content;
    transform: translate(50%);
  }

  div.margin__menu:active .coche {
    width: 70px;
  }
  div.margin__menu:active .coche i {
    animation: rotate_coche 2s;
  }

  .section__menu h2 {
    font-weight: lighter;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  img {
    height: 15em;
  }

  .section__intro {
    background-color: #f6f6f6;
    text-align: center;
    padding-bottom: 30px;
  }
  .section__intro p:not(.exception__p) {
    background-color: #eaeaea;
    padding: 15px;
    margin: 0;
  }
  .exception__p{
    white-space : initial;
  }  
  .section__fonctionnement {
    background-color: #fff;
    display: block;
  }
  .section__restaurants {
    background-color: #f6f6f6;
  }
  .section__menu {
    position: relative;
    top: -20px;
    margin: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #f6f6f6;
  }
  .section__menu h3 {
    text-transform: uppercase;
    border-bottom: 3px solid #99E2D0;
    width: 50px;
    font-weight: lighter;
  }
  .section__menu .margin__menu {
    display: block;
    opacity: 0;
    overflow: hidden;
    padding: 15px;
    padding-right: 38px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #d1d1d1;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  .section__menu .margin__menu * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .section__menu h2 {
    font-family: "Shrikhand", cursive;
  }
  .section__menu h4 {
    font-family: "Roboto", sans-serif;
    text-align: initial;
  }
  .section__menu p {
    text-align: initial;
  }
  .section__menu button {
    margin-top: 25px;
  }

  h2 .heart {
    right: 15px;
  }

  .heart {
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    right: 11.5px;
    opacity: 0;
  }
  .heart:hover {
    animation: heart 1s;
    animation-fill-mode: forwards;
  }

  .section__restaurants {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .section__restaurants a {
    width: 48%;
  }
  .section__restaurants h2 {
    width: 100%;
  }
  .section__menu:not(h3) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .section__menu:not(h3) h2 {
    width: 100%;
    font-weight: lighter;
  }
  .section__menu:not(h3) .column {
    width: 49%;
    margin: 0;
    display: block;
  }
  .section__menu:not(h3) div.margin__menu:active .coche {
    width: 70px;
  }
  .section__menu:not(h3) div.margin__menu:active .coche i {
    animation: rotate_coche 2s;
  }

  .btn__fonctionnement {
    width: 31%;
  }
  .btn__gradient {
    width: 25%;
  }
  .btn__gradient-commande {
    height: min-content;
    transform: translate(-50%, 325%);
  }
}
/*LAPTOP+DESKTOP*/
@media all and (min-width: 1024px) {
  .section__intro {
    background-color: #f6f6f6;
    text-align: center;
    padding-bottom: 30px;
  }
  .section__intro p:not(.exception__p) {
    background-color: #eaeaea;
    padding: 15px;
    margin: 0;
  }
  .section__fonctionnement {
    background-color: #fff;
    display: block;
  }
  .section__restaurants {
    background-color: #f6f6f6;
  }
  .section__menu {
    position: relative;
    top: -20px;
    margin: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #f6f6f6;
  }
  .section__menu h3 {
    text-transform: uppercase;
    border-bottom: 3px solid #99E2D0;
    width: 50px;
    font-weight: lighter;
  }
  .section__menu .margin__menu {
    display: block;
    opacity: 0;
    overflow: hidden;
    padding: 15px;
    padding-right: 38px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #d1d1d1;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  .section__menu .margin__menu * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .section__menu h2 {
    font-family: "Shrikhand", cursive;
  }
  .section__menu h4 {
    font-family: "Roboto", sans-serif;
    text-align: initial;
  }
  .section__menu p {
    text-align: initial;
  }
  .section__menu button {
    margin-top: 25px;
  }

  h2 .heart {
    right: 15px;
  }

  .heart {
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    right: 11.5px;
    opacity: 0;
  }
  .heart:hover {
    animation: heart 1s;
    animation-fill-mode: forwards;
  }

  img {
    height: 20em;
  }

  .section__restaurants {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .section__restaurants h2 {
    width: 100%;
  }
  .section__restaurants a {
    width: 24%;
  }
  .section__menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .section__menu h2 {
    width: 100%;
    font-weight: lighter;
  }
  .section__menu h3 {
    width: 50px;
  }
  .section__menu .column {
    width: 32%;
    margin: 0;
    display: block;
  }
  .section__menu div.margin__menu:active .coche {
    width: 70px;
  }
  .section__menu div.margin__menu:active .coche i {
    animation: rotate_coche 2s;
  }

  .btn__fonctionnement {
    width: 31%;
  }
  .btn__gradient {
    width: 18%;
  }
  .btn__gradient-commande {
    height: min-content;
    transform: translate(225%);
  }
}
/*FORM*/
/*WORK*/
/*ABOUT*/
/*PROJECT*/
/*TESTS*/

/*# sourceMappingURL=style.css.map */
