/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*VARIABLES*/
/*FUNCTIONS*/
/*MIXINS*/
.nbr__purple {
  position: relative;
  color: #fff;
  background-color: #9356DC;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 500px;
  left: -28px;
}

.prix__plats {
  float: right;
  font-weight: bold;
}

/*EXTENSIONS*/
/*BASE*/
* {
  font-family: "Roboto", sans-serif;
}

h1,
h4 {
  font-family: "Shrikhand", cursive;
}

main {
  margin-bottom: -20px;
  background-color: #f6f6f6;
}

section:not(section:first-child) {
  padding: 15px;
}

img {
  width: 100%;
  object-fit: cover;
  height: 15em;
}

/*TYPOGRAPHY*/
body {
  margin: 0;
}

/*BUTTONS*/
button:hover {
  cursor: pointer;
}

/*HEADER*/
header h1 {
  text-align: center;
}

#header__shadow {
  position: relative;
  padding-bottom: 0.1px;
  box-shadow: 0px 2px 2px #cacaca;
}

/*FOOTER*/
footer {
  margin-top: 20px;
  padding: 20px;
  color: #fff;
  background-color: #2f2f2f;
}
footer a {
  padding: 4px;
  color: #fff;
  display: block;
  width: 100%;
  text-decoration: none;
}
footer * {
  margin: 0;
}

/*NAV*/
a:not(footer a) {
  color: #000;
  text-decoration: none;
}

/*WORK*/
/*ABOUT*/
/*PROJECT*/
.section__intro {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 30px;
}
.section__intro p:not(p:nth-child(3)) {
  background-color: #eaeaea;
  padding: 15px;
  margin: 0;
}
.section__fonctionnement {
  background-color: #fff;
  display: block;
}
.section__restaurants {
  background-color: #f6f6f6;
}
.section__menu {
  position: relative;
  top: -20px;
  margin: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #f6f6f6;
}
.section__menu h3 {
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  font-weight: lighter;
}
.section__menu div:not(div:first-child) {
  display: block;
  overflow: hidden;
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 2px 5px #d1d1d1;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.section__menu div:not(div:first-child) * {
  margin: 0;
}
.section__menu h2 {
  font-family: "Shrikhand", cursive;
}
.section__menu h4 {
  font-family: "Roboto", sans-serif;
}
.section__menu button {
  margin-right: auto;
  margin-left: 30%;
  margin-top: 25px;
}

figure {
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 2px 5px #d4d4d4;
  margin-left: 0;
  margin-right: 0;
}
figure img {
  height: 11em;
}
figure figcaption {
  padding: 10px;
}
figure figcaption h3,
figure figcaption p {
  margin: 0;
  padding: 2px;
}

.btn__gradient {
  width: 40%;
  color: #fff;
  padding: 12px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-style: none;
  border-radius: 25px;
  box-shadow: 0px 3px 5px #c2c2c2;
}
.btn__gradient:hover {
  background: linear-gradient(#9356DC, #FF79DA);
}
.btn__fonctionnement {
  margin-left: 10px;
  text-align: left;
  font-weight: bold;
  width: 98%;
  background-color: #f6f6f6;
  margin-bottom: 15px;
  border-style: none;
  border-radius: 15px;
  box-shadow: 0px 2px 5px #c2c2c2;
  padding: 18px;
}
.btn__fonctionnement i {
  position: relative;
  left: -12px;
  color: #7e7e7e;
}
.btn__fonctionnement:hover {
  background-color: #f5edff;
}
.btn__fonctionnement:hover i {
  color: #9356DC;
}

.fa-heart {
  font-weight: 100;
  float: right;
}

.fa-arrow-left {
  position: absolute;
  font-size: 1rem;
  padding-left: 15px;
  padding-top: 13px;
}

/*TESTS*/

/*# sourceMappingURL=style.css.map */
