/*TABLETTES*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  * {
    border: 1px solid red;
  }
  img{
    height: 25em;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section {
    &__restaurants {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      a {
        width: 48%;
      }
      h2 {
        width: 100%;
      }
    }
    
    &__menu{
      h2,h3{
        width: 100%;
      }
      display: flex;
      flex-flow: row wrap;
      div:not(div:first-child){
        

        width: 30%;
      }
    }
  }
  .btn {
    &__fonctionnement {
      padding: 0;
      background-color: red;
    }
    &__gradient{
      width: 10%;
    }
  }
}



/*LAPTOP+DESKTOP*/
@media all and (min-width: 1024px) {
  
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  * {
    border: 1px solid blue;
  }
  .section {
    &__restaurants {
      
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      h2{
        width: 100%;
      }
      a {
        width: 24%;
      }
    }
    
    &__menu{
      h2,h3{
        width: 100%;
      }
      display: flex;
      flex-flow: row wrap;
      div:not(div:first-child){
        

        width: 30%;
      }
    }
  }
}
