.prix__plats {
  position: fixed;
  right: 10px;
  font-weight: bold;
 bottom: 15px;
}

.fa-heart {
  font-weight: 100;
  float: right;
  
}

.fa-arrow-left {
  position: absolute;
  font-size: 1rem;
  padding-left: 15px;
  padding-top: 13px;
}

.nbr__purple {
  @include nbr_purple();
}

.notif-nouveau {
  position: absolute;
  right: 4%;
  top: 4%;
  padding: 7px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 3px;
  background-color: $color-tertiary;
  color: function__darken($color-tertiary, 45%);
}


.column {
  div:not(.prix__plats){
    &:nth-child(2) {
      animation: slideDown 1s;
      animation-fill-mode: forwards;
    }
    &:nth-child(3) {
      animation: slideDown 1s;
      animation-delay: 0.15s;
      animation-fill-mode: forwards;
    }
    &:nth-child(4) {
      animation: slideDown 1s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
    }
    &:nth-child(5) {
      animation: slideDown 1s;
      animation-delay: 0.45s;
      animation-fill-mode: forwards;
    }
      
  }
}

.loader{
  animation: loader 1s;
  animation-fill-mode: forwards;

  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -10%;
  padding-bottom: 10%;
  background-color: rgb(229, 197, 248);
  & *{
    margin: 0;
  }
  & div{
    top: 50%;
    left: 50%;
  }
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid $color-primary;
  border-color:$color-primary transparent $color-secondary transparent;
  animation: lds-hourglass 1.2s infinite;
}

.coche{
  width: 0px;
  position: fixed;
  background-color: $color-tertiary;
  top: 0;
  height: 100%;
  right: 0;
  i{
    color: #fff;
    position: relative;
    top: 32%;
    left: 32%;
    font-size: 25px;
  }
}

