/*BASE*/

* {
  font-family: "Roboto", sans-serif;

}

h1,
h4 {
  font-family: "Shrikhand", cursive;
}

main {
  margin-bottom: -20px;
  background-color: $color-grey;
}

section:not(.section__intro) {
  padding: 15px;
}

p,h4{
  text-overflow: ellipsis ;
  overflow: hidden;
  white-space: nowrap;
}


img {
  width: 100%;
  object-fit: cover;
  height: 15em;
}
