/*VARIABLES*/
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-gradient : linear-gradient($color-secondary, $color-primary);

$color-grey : #f6f6f6;

$color-test : #2f2f2f;

$var-width:98%;


